body {
  background-image: url("bg-3.jpg")
}
a:hover {
        color: olivedrab;
        text-shadow: 4px 4px 3px;
}
html {
  font-size: 45px; 
  font-family: 'Allison', cursive;
}
html {
  color: orangered;
}
h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}