
body {
  background-image: url("bg-3.jpg");
}h1 {
  color: yellow;
  width: 1256px;
  border: 5px solid orange;
  text-shadow: 5px 5px 3px #77f;
}
p {
  color: red;
  width: 500px;
  border: 1px solid black;
}
ul {
   color:#DA4AE7;
}
a:hover {
        color: #d516f2;
        text-shadow: 4px 4px 3px;
}
